a href="/create_move" lägg till övning

a href="/add_cat" lägg till kategori

a href="/create" skapa workout

h2 = name

h1 Dina workouts

- name.each do |el|
  h3  = el['name1']
  a href="/workouts/#{el['id']}/show" workout  
  
    


